body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

a {
  text-decoration: none;
}

.intro-header {
    position: relative;
    text-align: center;
    color: #f8f8f8;
    height: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-message > .media {
    height: 40vh;
    width: 40vw;
    border: 0;
}

.intro-message > h1 {
    margin: 0em 0 0 0;
    font-size: 8em;
    text-transform: lowercase;
}

.intro-message > h2 {
    margin: 0 0 0 0;
    font-size: 3em;
    text-transform: uppercase;
}

.intro-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: #462c59;

}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    font-size: 2em;
    margin: 0;
}

.intro-social-buttons .icon {
    width: 1.5em;
    height: 1.5em;
}

@media(max-width:767px) {
    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-message > h2 {
        font-size: 1em;
    }

    .intro-message > h3 {
        font-size: 1em;
    }

    ul.intro-social-buttons > li {
        margin: 0 .5em .75em 0;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }

    .intro-message > .media {
        height: 40vh;
        width: 80vw;
        border: 0;
    }
}

@media(max-width:1199px) {
}

/* Borrow from Bootstrap */
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none
}
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px
}

.btn {
  display: inline-block;
  padding: .25em;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}

.btn:focus,.btn:active:focus,.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:hover,.btn:focus {
  color: #333;
  text-decoration: none
}

.btn:active,.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc
}
