<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Live music & visuals for your dance floor 💃.">
    <meta name="author" content="schickmalzwo">
    <base href="{{ .Site.BaseURL }}">

    <meta property="og:title" content="schickmalzwo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}img/schickmalzwo_tag_der_innenarchitektur_mainz_2018.jpg" />

    <title>{{ .Title }}</title>

    {{ $style := resources.Get "css/landing-page.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- Local CSS -->
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

</head>
<body>
