<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="intro-message">
			<h1 data-text="{{ .Site.Title }}">{{ .Site.Title }}</h1>

			<h3>
					DJ + VJ = 🔊🎆 <br/>
					Passion brings us together.
				</h3>

				<br />
			<br />

			<iframe class="media" src="//www.youtube.com/embed/RsqeSfyhzdw?autoplay=1" allowfullscreen title="schickmalzwo - dnb me up"></iframe>

			<br />
			<br />

			<p>
				We're always looking for new locations and great people, so feel free to connect with us!
			</p>

			{{ if isset .Site.Params "social" }}
			<ul class="list-inline intro-social-buttons">
					{{ partial "social.html" . }}
			</ul>
			{{ end }}
		</div>

	</div>
	<!-- /.intro-header -->
</section>
