<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS  -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Local CSS -->
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

</head>
<body>
