<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="intro-message">
			<h1 data-text="{{ .Site.Title }}">{{ .Site.Title }}</h1>


			<h2>dnb me up 💃</h2>
			<iframe class="media" src="//www.youtube.com/embed/RsqeSfyhzdw?autoplay=1" allowfullscreen title="schickmalzwo - dnb me up"></iframe>

			<br />
			<br />
			<br />

			<h3>
				DJ + VJ = 🔊🎆 <br/>
				
				Passion brings us together. <br/>
			</h3>

			<p>
				We are always looking for new locations and great people, so please get in contact with us!
			</p>

			{{ if isset .Site.Params "social" }}
			<ul class="list-inline intro-social-buttons">
					{{ partial "social.html" . }}
			</ul>
			{{ end }}
		</div>

	</div>
	<!-- /.intro-header -->
</section>
