<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="grid">

      <div class="column">

      </div>


      <div class="column center">
        <div>
          <h1><b>schick</b>mal<b>zwo</b></h1>
        
          <h2>
            passion brings us together
          </h2>
        </div>
      </div>



      <div class="column center">
        <a href="https://www.youtube.com/watch?v=RsqeSfyhzdw&rel=0" class="play" target="_blank">
          <span class="play-icon">
            {{ printf "static/social/%s.svg" "video" | readFile | safeHTML }}
          </span>
        </a>
      </div>



      <div class="column bottom">
        <p>
          always looking for great people<br />
          and new locations.<br />
          connect with us
        </p>

        {{ if isset .Site.Params "social" }}
        <ul class="list-inline intro-social-buttons">
          {{ partial "social.html" . }}
        </ul>
        {{ end }}
      </div>

		</div>
	</div>
</section>